.card{
    background-size: contain;
    display: inline-block;
    border: 1px solid black;
    padding: 18px;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 1px 1px 9px grey;
    width: 213px;
    height: 306px;
    float: left;
}
.card:hover{
    transform:scale(1.12,1.12) ;
}
.image{
    height: 100%;
    width: 100%;
}
.name{
    display: inline-block;
    float: left;
    color: black;
    font-size: 23px;
}
.price{
    font-size: 23px;
    display: inline-block;
    float: right;
}
.info{
    height: 15%;
    margin-top: 21px;
}
.imgDiv{
    height: 65%;
}
.title{
    font-size: 32px;
    text-align: center;
    background: gainsboro;
    padding: 10px;
    border-radius: 6px;
    margin: 6px;
}
.selectDiv{
    display: inline-block;
    float: left;
    font-size: 19px;
    box-sizing: border-box;
    padding: 10px;
}
.select{
    margin-top: -3px;
    width: 116px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}